/media/
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
*.aux
*.bbl
*.blg
*.bcf
*.dvi
*.log
*.out
*.synctex
*.toc
*.bak
*.bibtex
*.lof
*.lot
*.xml
main-blx.bib
*.synctex.gz
_minted-docs
_minted-docs
__pycache__